/* Here are the css stylings that are used in all the pages */

body{
    background-color: #d5bdaf;
} 
  .card-img-left {
    width: 45%;
      /* Image courtesy of Annie Spratt from Unsplash which can be found here: https://unsplash.com/photos/Tdlo4VAidtg */
    background: scroll center url('https://images.unsplash.com/photo-1656275035513-e1d2f094b034?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80');
    background-size: cover;
    background-repeat: no-repeat;
  }

  .card-img-left-error {
    width: 45%;
      /* Image courtesy of Sergey Kvint from Unsplash which can be found here: https://unsplash.com/photos/ukuefAuo-aM */
    background: scroll center url('https://images.unsplash.com/photo-1656236684807-31076b60628d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80');
    background-size: cover;
    background-repeat: no-repeat; 
  }

  .btn-login {
    font-size: 0.9rem;
    letter-spacing: 0.05rem;
    padding: 0.75rem 1rem;
  }
  
#loginbutton{
    color: black;
    background-color: #d5bdaf;
    font-family: 'Arial';
}

#wholecard{
    margin-top: 140px;
}

#wholecard-error{
  margin-top: 200px;
}


#signup{
  color: black; ;
}

#Logout{
  color: black; ;
}

#NewLink{
  color: black;
  font-size: 1.0rem;
  font-family: 'Arial';
  background-color: white;
  
}

#ErrorMsg{
  color: red;
  font-size: 0.9rem;
  font-family: 'Arial';
  
}




